
<div class="container">
      <div class="page-header">
          <h2 id="timeline">From Rythms to Algorithms</h2>
      </div>
      <ul class="timeline">
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Texas A&M University - Corpus Christi - Masters in Computer Science</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2017-present</small></p>
              </div>
              <div class="timeline-body">
                <p>Courses: Advanced Databases, Machine Learning, Analysis and designing Algorithms, Applied Cryptography, Advanced Operating Systems, Advanced Computer Architecture, etc.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Jawaharlal Nehru Technological University (Aff)</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2013-2017</small></p>
              </div>
              <div class="timeline-body">
                <p>Courses: C++, Data Structures, Java, Database Management, Compiler Designin, Operating Systems, Computer Architecture, Object Oriented principles, Machine Learning, Computer Vision, etc. </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Brilliant Grammar High School</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Graduated in 2011</small></p>
              </div>
              <div class="timeline-body">
                <p>I did thank my parents for their meticulous choice of BGHS out of many schools. This school underlined the importance of education and increased thirst for knowledge in me.</p>
              </div>
            </div>
          </li>
      </ul>
  </div>





<!-- <div class="container mt-5 mb -5">
    <ul id="timelineTopMargin">
       <li>
        <span></span>
          <div >
             <div class="title"></div>          
             <div class="info">Courses: Advanced Databases, Machine Learning, Analysis and designing Algorithms, Applied Cryptography, Advanced Operating Systems, Advanced Computer Architecture, etc. </div>
             <div class="type">Masters in Computer Science</div>
          </div>  
          <span class="number">
          <span></span>
            </span>   
       </li>
       <li>
          <div>
             <span></span>
             <div class="title">Jawaharlal Nehru Technological University (A)</div>
             <div class="info">Courses: C++, Data Structures, Java, Database Management, Compiler Designin, Operating Systems, Computer Architecture, Object Oriented principles, Machine Learning, Computer Vision, etc. </div>
             <div class="type">Bachelors in Computer Science</div>
          </div>
          <span class="number">
          <span></span>
          </span>
       </li>
       <li>
            <div>
               <span></span>
               <div class="title">Brilliant Grammar High School</div>
               <div class="info">I did thank my parents for their meticulous choice of BGHS out of many schools. This school underlined the importance of education and increased thirst for knowledge in me.</div>
            </div>
            <span class="number">
            <span></span>
            </span>
         </li>
    </ul>
 </div> -->
