<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left" style="color:white;background-color:#3E4551">
	<!--Footer Links-->
	<div class="container-fluid">
		<!--First column-->
		<div class="col-lg-4 col-centered text-center">
			<div style="text-align:center">
				<div class = "col">
					<h3 class="title">Get in Touch </h3>
					<p>
						<i class="fa fa-phone icon-padding" style="margin-right:1%"></i>+1.602.703.0994
					</p>
					<a style="color:white" href="mailto:vaibhav.medavarapu@gmail.com" target="_blank">
						<i class="fa fa-envelope icon-padding" style="margin-right:1%"></i>vaibhav.medavarapu@gmail.com
					</a>
				</div>
				<!--Links-->
				<div class="col" style="margin-top:3%">
					<div style="text-align: center">
						<a class="my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="https://www.facebook.com/sai.medavarapu?ref=bookmarks" target="_blank">
							<span class="mat-button-wrapper">
								<i class="mini-icon fa fa-facebook" style="color:#3B5999"></i>
							</span>
						</a>
						<!-- <a class="icon-margin my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="#">
							<span class="mat-button-wrapper">
								<i class="mini-icon fa fa-twitter" style="background-color:white; color:#1DA1F3"></i>
							</span>
						</a> -->
						<!-- <a class="icon-margin my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="#">
							<span class="mat-button-wrapper">
								<i class="mini-icon fa fa-google-plus" style="color:#E0483A"></i>
							</span>
						</a> -->
						<a class="icon-margin my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="https://www.linkedin.com/in/sai-vaibhav-medavarapu-448a7a113/" target="_blank">
							<span class="mat-button-wrapper">
								<i class="mini-icon fa fa-linkedin" style="background-color:white; color:#0177B5"></i>
							</span>
						</a>
						<a class="icon-margin my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="https://github.com/saiMedavarapu "target="_blank">
							<span class="mat-button-wrapper">
								<i class="mini-icon fa fa-github" style="color:#5E2A7D"></i>
							</span>
						</a>
						<!--<a class="icon-margin my-fab" mat-mini-fab style="background-color:white; color:#3B5998" href="#">
							<span class="mat-button-wrapper">
								<i class="fab fa-hackerrank" style="color:green"></i>
							</span>
						</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--/.Footer-->