<!-- Projects section v.3 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<section class="my-4">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Latest Projects</h2>
      <!-- Section description -->
      <p class="grey-text text-center w-responsive mx-auto mb-5"></p>
    <!--*********************Start of Proj1**********************************-->
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
          <!--Image-->
           <!-- <iframe src="https://www.youtube.com/watch?v=X9i-DROJGkg&feature=youtu.be" alt="Sample project image" class="img-fluid rounded z-depth-1" ></iframe>-->
            <iframe width="540" height="315" src="https://www.youtube.com/embed/X9i-DROJGkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!--<img src="https://www.youtube.com/watch?v=X9i-DROJGkg&feature=youtu.be" alt="Sample project image" class="img-fluid rounded z-depth-1">-->
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-5">
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-book fa-2x cyan-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h4 class="font-weight-bold mb-3">Project | 01 </h4>
              <p class="grey-text">Object detection by using FasterRCNN - YOLO</p>
            </div>
          </div>
          <!-- Grid row -->
    
    
          <!-- Grid row -->
          <div class="row">
            <div class="col-md-1 col-2">
              <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Description</h5>
              <p class="grey-text mb-0">You Only Look Once(YOLO) is a fast, accurate object detector, making it ideal
                  for computer vision applications. I connected YOLO to a
                  webcam and verified that it maintains real-time performance,
                  including the time to fetch images from the camera and display the detections. The trained data for this project was found on GitHub. The resulting system is interactive and engaging. While
                  YOLO processes images individually, when attached to a
                  webcam it functions like a tracking system, detecting objects as they move around and change in appearance. I have used OpenCV, Python in this project. Code is available on GitHub. </p>
            </div>
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row mb-3">
               <div class="col-md-1 col-2">
                 <i class="fa fa-code fa-2x red-text"></i>
               </div>
               <div class="col-md-11 col-10">
                 <h5 class="font-weight-bold mb-3">Source Code</h5>
                 
                 <!--<p class="grey-text">Click the button for the source code.<button type="button" class="btn btn-outline-primary" href="https://github.com/saiMedavarapu/YOLO" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i>GitHub </button></p>-->
                 <a href="https://github.com/saiMedavarapu/YOLO" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
               </div>
             </div>
             <!-- Grid row -->
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    <!--*********************************End of Proj1**************************-->
      <hr class="my-5">
    
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-5">
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-bar-chart fa-2x indigo-text">
              </i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Project | 02</h5>
              <p class="grey-text">Improvising SHA algorithm of Secret Sharing with Multiple Levels</p>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row mb-3">
            <div class="col-md-1 col-2">
              <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Description</h5>
              <p class="grey-text">The first threshold secret sharing scheme proposed by Shamir is ideal and perfect. One modification for this can be keeping x and y coordinates as a secret share by shareholder and for generating threshold scheme (t,n), dealer uses polynomial of degree greater than threshold value t. Using these two modifications, I was able to improve the security in the SHA algorithm.</p>
            </div>
          </div>
          <!-- Grid row -->
    
          <!-- Grid row -->
          <div class="row mb-lg-0 mb-5">
            <div class="col-md-1 col-2">
              <i class="fa fa-code fa-2x red-text"></i>
            </div>
            <div class="col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">See Implementation</h5>
              <a href="https://jsfiddle.net/g944jsee/9/" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
            </div>
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-5">
          <!--Image-->
          <img src="src/assets/cryptography.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->

      <!-- Horizontal Line-->
      <hr class="my-5">
      <!--************** For project 3*********************-->

      <div class="row">
    
            <!-- Grid column -->
            <div class="col-lg-5 mb-lg-0 mb-5">
              <!--Image-->
              <img src="src/assets/studentKnowledgeSite.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
               <!-- <iframe src="https://www.youtube.com/watch?v=X9i-DROJGkg&feature=youtu.be" alt="Sample project image" class="img-fluid rounded z-depth-1" ></iframe>-->
               <!-- <iframe width="540" height="315" src="https://www.youtube.com/embed/X9i-DROJGkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <!--<img src="https://www.youtube.com/watch?v=X9i-DROJGkg&feature=youtu.be" alt="Sample project image" class="img-fluid rounded z-depth-1">-->
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-5">
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fa fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h4 class="font-weight-bold mb-3">Project | 03 </h4>
                  <p class="grey-text">Student Knowledge site - A Full Stack website using JSP.</p>
                </div>
              </div>
              <!-- Grid row -->
        
        
              <!-- Grid row -->
              <div class="row">
                <div class="col-md-1 col-2">
                  <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Description</h5>
                  <p class="grey-text mb-0">Online application which lets user and administrator to login. 
                     This lets user to gain access over career fairs, library books, provide feedback on books, 
                     drop a request to the administrator for books, 
                     inbuilt messaging the administrator and adding the events. </p>
                </div>
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row mb-3">
                   <div class="col-md-1 col-2">
                     <i class="fa fa-code fa-2x red-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">Source Code</h5>
                     
                     <!--<p class="grey-text">Click the button for the source code.<button type="button" class="btn btn-outline-primary" href="https://github.com/saiMedavarapu/YOLO" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i>GitHub </button></p>-->
                     <a href="https://github.com/saiMedavarapu/FullStackApplication" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
                   </div>
                 </div>
                 <!-- Grid row -->
            </div>
            <!-- Grid column -->
        
          </div>

      <!--**************************End of Project 3*********************************-->

             <hr class="my-5">

       <!--**********************************Project 4 *********************************-->
          <div class="row">
    
               <!-- Grid column -->
               <div class="col-lg-5">
           
                 <!-- Grid row -->
                 <div class="row mb-3">
                   <div class="col-md-1 col-2">
                     <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">Project | 04</h5>
                     <p class="grey-text">Diabetes Prediction and comparison using Naive-Bayes, Random forest and Logistic regression.</p>
                   </div>
                 </div>
                 <!-- Grid row -->
           
                 <!-- Grid row -->
                 <div class="row mb-3">
                   <div class="col-md-1 col-2">
                     <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">Description</h5>
                     <p class="grey-text">I have collected the diabetes data of PIMA county (Arizona) from Github. 
                        By applying few visualization techniques, I found few inconsistencies in data. 
                        I have cleaned few attributes and replaced few missing values with mean and
                         trained the data using Naive-Bayes,Random forest and Logistic regression. Upon comparison with the test data, 
                         logistic regression worked optimally (no overfitting).</p>
                   </div>
                 </div>
                 <!-- Grid row -->
           
                 <!-- Grid row -->
                 <div class="row mb-lg-0 mb-5">
                   <div class="col-md-1 col-2">
                     <i class="fa fa-code fa-2x red-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">Source Code</h5>
                     <a href="https://github.com/saiMedavarapu/Diabetes-Prediction" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
                   </div>
                 </div>
                 <!-- Grid row -->
           
               </div>
               <!-- Grid column -->
           
               <!-- Grid column -->
               <div class="col-lg-5">
                 <!--Image-->
               <!--  <img src="#" alt="Sample project image" class="img-fluid rounded z-depth-1">-->
               </div>
               <!-- Grid column -->
           
             </div>
        <!--**************************End of Project 4*********************************-->

         <!-- Horizontal Line-->
      <hr class="my-5">
      <!--************** For project 5*********************-->

      <div class="row">
    
            <!-- Grid column -->
            <div class="col-lg-5 mb-lg-0 mb-5">

                  <!-- <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                        
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel1" data-slide-to="1"></li>
                          <li data-target="#myCarousel1" data-slide-to="2"></li>
                        </ol>
                      
                        
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="src/assets/major1.jpg" alt="Major Proj">
                          </div>
                      
                          <div class="item">
                            <img src="src/assets/major2.jpg" alt="Majorproj2">
                          </div>
                      
                          <div class="item">
                            <img src="src/assets/major3.jpg" alt="Majorproj3">
                          </div>
                        </div>
                      
                        
                        <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div> -->
             <!-- Carousel Default -->
             <section class="carousel-default">
                <div id="carousel-default" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-default" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-default" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-default" data-slide-to="2" class="active"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <!-- NOTE: Bootstrap v4 changes class name to carousel-item -->
                    <div class="item">
                      <img src="src/assets/major1.jpg" alt="First slide">
                      <div class="carousel-caption">
                        <!-- <h3>A woman with a camera</h3>
                        <p>She is probably taking a picture</p> -->
                      </div>
                    </div>
                    <div class="item">
                      <img src="src/assets/major2.jpg" alt="Second slide">
                      <div class="carousel-caption">
                        <!-- <h3>Down came the rain</h3>
                        <p>And washed the spider out</p> -->
                      </div>
                    </div>
                    <div class="item active">
                      <img src="src/assets/major3.jpg" alt="Third slide">
                      <div class="carousel-caption">
                        <!-- <h3>Making love</h3>
                        <p>She is probably taking a picture</p> -->
                      </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-default" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-default" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </section>
              <!-- /end Carousel Default -->
              
            
              <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>  
            <![endif]-->
                    </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-5">
        
              <!-- Grid row -->
              <div class="row mb-3">
                <div class="col-md-1 col-2">
                  <i class="fa fa-book fa-2x cyan-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h4 class="font-weight-bold mb-3">Project | 05 </h4>
                  <p class="grey-text">A Fully Encryption Framework for improving multi-user sharing key management system</p>
                </div>
              </div>
              <!-- Grid row -->
        
        
              <!-- Grid row -->
              <div class="row">
                <div class="col-md-1 col-2">
                  <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
                </div>
                <div class="col-md-11 col-10">
                  <h5 class="font-weight-bold mb-3">Description</h5>
                  <p class="grey-text mb-0">Implemented the integration of traditional broadcast system and 
                     group key agreement protocols to create a contributory broadcast encryption. I have used Java in this project. </p>
                </div>
              </div>
              <!-- Grid row -->
    
              <!-- Grid row -->
              <div class="row mb-3">
                   <div class="col-md-1 col-2">
                     <i class="fa fa-code fa-2x red-text"></i>
                   </div>
                   <div class="col-md-11 col-10">
                     <h5 class="font-weight-bold mb-3">Source Code</h5>
                     
                     <!--<p class="grey-text">Click the button for the source code.<button type="button" class="btn btn-outline-primary" href="https://github.com/saiMedavarapu/YOLO" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i>GitHub </button></p>-->
                     <a href="https://github.com/saiMedavarapu/YOLO" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
                   </div>
                 </div>
                 <!-- Grid row -->
            </div>
            <!-- Grid column -->
        
          </div>

      <!--**************************End of Project 5*********************************-->

      <hr class="my-5">

      <!--**********************************Project 6*********************************-->
         <div class="row">
   
              <!-- Grid column -->
              <div class="col-lg-5">
          
                <!-- Grid row -->
                <div class="row mb-3">
                  <div class="col-md-1 col-2">
                    <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                  </div>
                  <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Project | 06</h5>
                    <p class="grey-text">Know before you go - Data integration using API's</p>
                  </div>
                </div>
                <!-- Grid row -->
          
                <!-- Grid row -->
                <div class="row mb-3">
                  <div class="col-md-1 col-2">
                    <i class="fa fa-info-circle fa-2x deep-purple-text"></i>
                  </div>
                  <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Description</h5>
                    <p class="grey-text">The purpose of this project is to implement the global as a 
                       view approach by integrating data from different sources and providing unified view of them.
                        I integrated the data as a JSON from Google maps, Weather underground and Zomato(Cuisines)
                         to let user know the types of cuisines, 
                       weather and location of that area. I have used JQuery, AJAX, Javascript,
                        HTML and CSS for this project</p>
                  </div>
                </div>
                <!-- Grid row -->
          
                <!-- Grid row -->
                <div class="row mb-lg-0 mb-5">
                  <div class="col-md-1 col-2">
                    <i class="fa fa-code fa-2x red-text"></i>
                  </div>
                  <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Source Code</h5>
                    <a href="https://github.com/saiMedavarapu/Data-Integration-Using-API" target="_blank" id="code" type="submit" class="btn btn-success" style="width:200px; color: black"> <i class="fa fa-github" aria-hidden="true"></i> View Code</a>
                  </div>
                </div>
                <!-- Grid row -->
          
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-lg-5">
                  <!-- <div id="myCarousel2" class="carousel slide" data-ride="carousel" >
                      
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel2" data-slide-to="1"></li>
                          <li data-target="#myCarousel2" data-slide-to="2"></li>
                        </ol>
                      
                  
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="src/assets/API1.png" alt="Major Proj">
                          </div>
                      
                          <div class="item">
                            <img src="src/assets/API2.png" alt="Majorproj2">
                          </div>
                      
                          <div class="item">
                            <img src="src/assets/API3.png" alt="Majorproj3">
                          </div>
                        </div>
                      
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div> -->
                             
                      <!-- Carousel Default -->
                          <section class="carousel-default">
                            <div id="carousel2" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carousel2" data-slide-to="0" class=""></li>
                                <li data-target="#carousel2" data-slide-to="1" class=""></li>
                                <li data-target="#carousel2" data-slide-to="2" class="active"></li>
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <!-- NOTE: Bootstrap v4 changes class name to carousel-item -->
                                <div class="item">
                                  <img src="src/assets/API1.png" alt="First slide">
                                  <div class="carousel-caption">
                                    <!-- <h3>A woman with a camera</h3>
                                    <p>She is probably taking a picture</p> -->
                                  </div>
                                </div>
                                <div class="item">
                                  <img src="src/assets/API2.png" alt="Second slide">
                                  <div class="carousel-caption">
                                    <!-- <h3>Down came the rain</h3>
                                    <p>And washed the spider out</p> -->
                                  </div>
                                </div>
                                <div class="item active">
                                  <img src="src/assets/API3.png" alt="Third slide">
                                  <div class="carousel-caption">
                                    <!-- <h3>Making love</h3>
                                    <p>She is probably taking a picture</p> -->
                                  </div>
                                </div>
                              </div>
                              <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </section>
                          <!-- /end Carousel Default -->
                          
                        
                          <!--[if lt IE 9]>
                        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>  
                        <![endif]-->
                    </div>
              
          
            </div>
       <!--**************************End of Project 6*********************************-->
    </section>

    <!-- Projects section v.3 -->