<div>
    <img id="imgMe"src="/assets/Me.jpg" style ="width:25%" class="HomeImgMargin center mat-elevation-z9" >
 </div>
 <div class="container">
    <mat-card class="Intro-Card mat-elevation-z4">
       <mat-card-content>
          <div class="row">
             <p class="Justify-Text">
              Hello! my full name is Sai Vaibhav Medavarapu. To make it easy, I go by "Sai". I'm a passionate programmer, gamer and a teacher. I'm tremendously passionate about the work I do. I'll be graduating in May 2019 with a masters degree in computer science. I'm an avid cricket lover who believes in a tea after breakfast (possibly every meal).
             </p>
          </div>
          <div class="row">
             <p class="Justify-Text">
               I'm always motivated with a saying said by brother - Sachin Samrat Medavarapu  -  "Fighter Knows no respite."
             </p>
          </div>
          <div class="row">
            <p class="Justify-Text">
               My every achievement is dedicated to my parents, brother, my uncles,  my cousin (Soujanya Kumar) and my friends for their eternal support and guidance.
            </p>
         </div>
       </mat-card-content>
    </mat-card>
 </div>